/**
 * file Name: itemCard.css
 * date: 12/13/2020
 * author: Group 5
 * purpose: Item Card component styling
 */

.count-field {
    width: 50px;
    height: 40px;
    padding-right: 0;
    padding-left: 2px;
}

.count-input-container {
    display: flex;
}

.card-price {
    padding: 14px 0 14px 15px;
    height: 100%;
    font-weight: bolder;
    min-width: 30%;
}

button.decrement-button {
    padding: 5px;
}

.decrement-button > span {
    padding: 0;
    color: red;

}

button.increment-button {
    padding: 5px;
}

.increment-button > span {
    padding: 0;
    color: green;

}

.card-input-row {
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.optionListContainer {
    z-index: 20;
}
