.item-card-container {
    min-width: 400px;
    max-width: 600px;
}

.preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.panel-body {
    min-width: 1000px;
}