/**
 * file Name: demo.css
 * date: 12/13/2020
 * author: Group 5
 * purpose: Demo component styling
 */

@media only screen and (min-width: 700px) {
    /* iphone 7 size*/
    .demoHeightLimit {
        height: 667px;
        width: 375px;
        overflow-y: scroll
    }
}

.very.wide.popup {
    margin-left: 50px;
    width: 300px;
}

.demo-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
