/**
 * file Name: popupTextField.css
 * date: 12/13/2020
 * author: Group 5
 * purpose: Text field popup styling component styling
 */

.popup-content {
    width: 90%;
}

.popup-textarea {
    min-height: 100px;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}
