/**
 * file Name: qrcode.css
 * date: 12/13/2020
 * author: Group 5
 * purpose: QrCode component styling
 */

.qr-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
