/**
 * file Name: adminMenu.css
 * date: 12/13/2020
 * author: Group 5
 * purpose: Styling for admin menu
 */

.header-admin-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.admin-nav-header {
    padding: 25px;
}
